.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  flex-direction: column;
  margin: 100px auto;
}

.flex-row {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-grow: 1;
}
